* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-simall {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #000000;
  line-height: 24px;
  font-size: 16px;
}

.text-big {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 24px;
  font-size: 24px;
}

.conteaner {
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

.div__glabal {
  display: flex;
  align-items: center;
  gap: 16px;
}
.p__glabal {
  font-size: 16px;
  line-height: 16px;
  font-family: "Roboto", serif;
  color: #db4444;
}
